<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>205285791666-nf465ifm0riths7cvvucqo9jtltlekg3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.205285791666-nf465ifm0riths7cvvucqo9jtltlekg3</string>
	<key>API_KEY</key>
	<string>AIzaSyCBw6ub9Uet6qW9JlKNU1LtA_ReToaPnFw</string>
	<key>GCM_SENDER_ID</key>
	<string>205285791666</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.aamsco.awardswithfriends.dev</string>
	<key>PROJECT_ID</key>
	<string>awardswithfriends-dev-a176c</string>
	<key>STORAGE_BUCKET</key>
	<string>awardswithfriends-dev-a176c.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:205285791666:ios:5a7b6bc7d8608800b476ab</string>
</dict>
</plist>
